<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/speech-recognition-sphinx-master/src/apps/edu/cmu/sphinx/demo/digits/SpeechCommands.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.cmu.sphinx.demo.digits.SpeechCommands"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="speech-recognition-sphinx-master"/>
</launchConfiguration>
